__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
**/.env*

.pytest_cache/
.coverage
htmlcov/

build/
dist/

models/
*.joblib

.DS_Store
.vscode/
.idea/

data/*.html
data/lambda_usage*.csv

infra/.build/
infra/**/.terraform/
infra/**/.terragrunt-cache/
*.tfstate
*.tfstate.backup
*.tfplan
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user/
*.Rproj